{% extends "base.html" %}

{% block childHead %}

<style>
    img {
        height: 100px;
        width: 100px;
    }
</style>

{% endblock childHead %}

{% block content %}
<!--Connection List-->

<div class="col-md-3 px-4">
    <div class="card mx-auto mb-3">
        <h5 class="card-header"> Connection List </h5>
        <ul class="list-group list-group-flush">
            {% if friends|length == 0 %}
            <li class="list-group-item">No Connections</li>
            {% else %}
            {% for friend in friends %}
            <a href="{% url 'user-posts' friend.username %}" class="nounderline">
                <li class="list-group-item">{{ friend }}</li>
            </a>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="col-md-8 mb-3 px-4">

    <!--Invitations-->

    <div class="card">
        <h5 class="card-header">Invitations (Template Only. Coming Soon!)</h5>
        <div class="card-body">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 align-self-center"><img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-14-128.png">
                </div>
                <div class="p-2 align-self-center" style="width:50%">
                    <p><b>Amanda</b><br>University of British Columbia</p>
                </div>
                <div class="p-2 align-self-center mr-md-5"><button type="button" class="btn btn-outline-light"
                        style="width:80pt">Decline</button> <button type="button" class="btn btn-outline-primary"
                        style="width:80pt">Accept</button>
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 align-self-center"><img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-41-128.png">
                </div>
                <div class="p-2 align-self-center" style="width:50%">
                    <p><b>Gandalf The Great</b><br>Hobbit College</p>
                </div>
                <div class="p-2 align-self-center mr-md-5"><button type="button" class="btn btn-outline-light"
                        style="width:80pt">Decline</button> <button type="button" class="btn btn-outline-primary"
                        style="width:80pt">Accept</button>
                </div>
            </div>

            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 align-self-center"><img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-19-128.png">
                </div>
                <div class="p-2 align-self-center" style="width:50%">
                    <p><b>Fang Yuan</b><br>Beijing University</p>
                </div>
                <div class="p-2 align-self-center mr-md-5"><button type="button" class="btn btn-outline-light"
                        style="width:80pt">Decline</button> <button type="button" class="btn btn-outline-primary"
                        style="width:80pt">Accept</button>
                </div>
            </div>
        </div>
    </div>

    <!--Suggested Connections-->

    <br>
    <div class="card">
        <h5 class="card-header">People you may know (Template Only. Coming Soon!)</h5>
        <div class="card-deck p-4">
            <div class="card">
                <div class="card-body text-center">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-38-128.png">
                    <h5 class="card-title">Lucifer</h5>
                    <p class="card-text">CEO at Underworld.inc</p>
                    <p><button type="button" class="btn btn-outline-primary">Connect</button></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-38-128.png">
                    <h5 class="card-title">Lucifer</h5>
                    <p class="card-text">CEO at Underworld.inc</p>
                    <p><button type="button" class="btn btn-outline-primary">Connect</button></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-38-128.png">
                    <h5 class="card-title">Lucifer</h5>
                    <p class="card-text">CEO at Underworld.inc</p>
                    <p><button type="button" class="btn btn-outline-primary">Connect</button></p>
                </div>
            </div>
        </div>
        <div class="card-deck p-4">
            <div class="card">
                <div class="card-body text-center">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-38-128.png">
                    <h5 class="card-title">Lucifer</h5>
                    <p class="card-text">CEO at Underworld.inc</p>
                    <p><button type="button" class="btn btn-outline-primary">Connect</button></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-38-128.png">
                    <h5 class="card-title">Lucifer</h5>
                    <p class="card-text">CEO at Underworld.inc</p>
                    <p><button type="button" class="btn btn-outline-primary">Connect</button></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <img
                        src="https://cdn4.iconfinder.com/data/icons/famous-character-vol-2-flat/48/Avatar_Famous_Characters-38-128.png">
                    <h5 class="card-title">Lucifer</h5>
                    <p class="card-text">CEO at Underworld.inc</p>
                    <p><button type="button" class="btn btn-outline-primary">Connect</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}