{% extends "base.html" %}

{% block childHead %}
<style>
    img {
        height: 100px;
        width: 100px;
    }
</style>
{% endblock childHead %}

{% block content %}

<!--Main-->
<div class="wrapper">
    <div class="px-4 text-center forum-main">
        <h1 class="display-1">Locked</h1>
        <div class="progress mt-3 mb-4">
            <div class="progress-bar" role="progressbar" style="width: 65%;">65%</div>
        </div>
        <h1 class="display-4" style="font-size:30px;">Collect 3,500 Honor Points More</h1>
    </div>
</div>

{% endblock content%}