{% extends "blog/base.html" %}

{% block childHead %}
<style>
    .custom-select {
        z-index: 1;
        border-radius: none !important;
        max-width: 100px;
        border-color: #007bff;
        color:#007bff;
    }
</style>
{% endblock childHead %}

{% block content %}

<div class="col-md-8 px-4">

    <!--Class Toggle and Reload Cache-->

    <script>
        function toggleClass(like_btn) {
            if (like_btn.classList.contains("liked")) {
                like_btn.classList.remove("liked");
                like_btn.classList.add("unliked");
            } else if (like_btn.classList.contains("unliked")) {
                like_btn.classList.remove("unliked");
                like_btn.classList.add("liked");
            }
        }

        window.addEventListener("pageshow", function (event) {
            var perfEntries = performance.getEntriesByType("navigation");

            if (perfEntries[0].type === "back_forward") {
                location.reload(true);
            }
        });
    </script>

    <!--Main-->

    <form class="mx-auto form-inline input-group mb-4" action="{% url 'search-post' %}" method="GET">
        <input id="input1" class="form-control" name="value" type="search" placeholder="Search Posts By">
        <select id="optionMenu" name="search_option" class="w-auto custom-select form-control">
            <option value="Title" selected>Title</option>
            <option value="User">User</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </form>

    {% block searchResults %}
    {% endblock searchResults %}

    <div class="card-columns">

        {% for post in posts %}

        <div class="card">
            <div class="card-body" id="{{ post.id }}">
                <h5 class="card-title"><a class="article-title"
                        href="{% url 'post-detail' post.id%}">{{ post.title }}</a>
                </h5>
                <button class="btn tag mb-2">Idea</button>

                <p class="card-text">{{ post.content|slice:"0:100" }}
                    {% if post.content|length > 100 %}
                    . . .
                    {% endif %}
                </p>

                <p class="card-text"><small class="text-muted">Created by <a
                            href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> on
                        {{ post.date|date }}</small></p>
                {% if user in post.likes.all %}
                <a class="like-wrapper" id="like-{{post.id}}" href="#" data-id="{{ post.id }}">
                    <button class="custom-btn liked" onclick="toggleClass(this)"><i class="fas fa-heart"></i></button>
                </a>
                {% else %}
                <a class="like-wrapper" id="like-{{post.id}}" href="#" data-id="{{ post.id }}">
                    <button class="custom-btn unliked" onclick="toggleClass(this)"><i class="fas fa-heart"></i></button>
                </a>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>

    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% endif %}

</div>

<!--SideBar-->

<div class="col-md-3 mb-3 px-4">
    {% include "blog/sidebar.html" %}
</div>

{% endblock content %}