{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-8 px-4">
  <div class="content-section">
    <div class="media d-flex flex-row">
      <img class="align-self-center rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="align-self-center media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
      </div>
    </div>
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-2">Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form.image|as_crispy_field }}
      </fieldset>
      <div class="form-row">
        <div class="form-group col-md-5">
          {{ p_form.specialization|as_crispy_field }}
        </div>
        <div class="form-group col-md-5">
          {{ p_form.year|as_crispy_field }}
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>

<!--SideBar-->

<div class="col-md-3 mb-3 px-4">
  {% include "blog/sidebar.html" %}
</div>
{% endblock content %}